/*.shadow {
  box-shadow:
    -4px 0 6px -2px rgba(0, 0, 18, 0.1),
    4px 0 6px -2px rgba(0, 0, 18, 0.1);
  clip-path: inset(0 -10px 0 -10px);
}*/

.compactToggle {
  width: max-content;
}

.compactToggle :global(.fr-toggle__label) {
  flex: none;
  justify-content: flex-start;
  width: auto;
}

.compactToggle :global(.fr-toggle__label)::after {
  right: 0;
}
