NEXT_PUBLIC_AUTH_API_URL=https://otelo-dev.osc-fr1.scalingo.io/api
NEXT_PUBLIC_APP_URL=https://otelo-v4.osc-fr1.scalingo.io
NEXT_PUBLIC_DOCURBA_BASE_URL=https://docurba.beta.gouv.fr

NEXT_PUBLIC_MATOMO_URL=xxx
NEXT_PUBLIC_MATOMO_SITE_ID=xxx

BREVO_API_KEY=xxxx
BREVO_API_URL=https://api.brevo.com/v3/smtp/email