.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actionsBar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.typeSelectionContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2.5rem 1.5rem 1rem 2.5rem;
}
